In [1]:
# CRUD

# DBMS를 사용해야 하기 때문에
# MySQL를 먼저 기동해야 해요!
# > mysqld

# MySQL console에 진입
# > mysql -u python -p

# 데이터베이스 확인
# mysql> show databases;

# 특정 데이터베이스를 이용해서 작업을 하려해요. 데이터베이스 지정
# mysql> use library;

# 데이터베이스안에 데이터가 저장되는 Table을 조회
# mysql> show tables;

# 이렇게 command 기반으로 MySQL을 이용할 수 도 있어요!! 
# 불편한게 사실이예요.일반적으로 IDE를 이용해서 Database도 사용해요!
# 여러가지 Tool이 존재해요. => Toad 라는 tool이 있어요.
# Toad for MySQL은 무료로 사용이 가능해요!
# Toad를 받으러 가보아요!

# -- SQL도 프로그래밍 언어예요!    (Database에 대한 프로그래밍 언어)
# -- - 대소문자를 구분하지 않아요!
# -- - 관용적으로 키워드는 대문자를 이용.
# -- 
# -- Python도 프로그래밍 언어예요! (범용적인 프로그래밍언어)
# -- - 대소문자를 구분.  int vs. Int 이 두개는 당연히 달라요! 

# -- student table
# -- num	name	age	address
# -- 100	홍길동	20	서울
# -- 101	김길동	30	송파구
# -- 102	최길동	40	제주
# -- 103	임길동		인천

# -- Table 생성

# CREATE TABLE student (
#     num     VARCHAR(10)  PRIMARY KEY,
#     name    VARCHAR(20)  NOT NULL,
#     age     INT          ,
#     address VARCHAR(30)  NOT NULL    
# ) DEFAULT CHARACTER SET utf8;   

# -- Table 삭제    
# DROP TABLE student;

# -- Record 입력(1행 데이터를 입력해 보아요!)

# INSERT INTO student(num,name,age,address) VALUES('100', '홍길동', 20, '서울');
# INSERT INTO student VALUES('101', '김길동', 30, '송파구');
# INSERT INTO student VALUES('102', '최길동', 40, '제주');
# INSERT INTO student VALUES('103', '임길동', NULL, '인천');  -- 가능
# INSERT INTO student(num,name,address) VALUES('103', '임길동', '인천');  -- 가능

# -- Record 삭제
# DELETE FROM student;
# DELETE FROM student WHERE num='102';

# -- Record Update
# UPDATE student SET name='김연아' WHERE num='100'; 

# -- CRUD(Create, Read, Update, Delete )

# -- Record Select
# SELECT num,name FROM student WHERE num='100';

# -- Transaction 처리때문에 이와 같은 과정을 거치는거예요!
# COMMIT

# -- Transaction
# -- 작업의 최소단위
# -- 은행의 이체작업(업무)
# -- 한 통장에서 다른 통장으로 돈을 옮기는 행위를 이체
# -- A 사람의 통장에서 B 사람의 통장으로 2000원을 이체

# -- 1. A 사람의 통장에 2000원이 있는지를 확인(SELECT)
# -- 2. B 사람의 통장계좌가 정상인지 확인(SELECT)
# -- 3. A 사람의 통장계좌에서 2000원을 차감(UPDATE)
# -- 전기가 나갔어요!!
# -- 4. B 사람의 통장에 잔액을 2000원 증가(UPDATE)

# -- DBMS의 가장 큰 특징이자 우리가 돈을 주고 사는 이유 중 하나는 Transaction을 걸면(설정하면)
# -- DBMS가 ACID 특성을 Transaction에게 부여해줘요!
# -- 1. Atomicity(원자성)   - all or nothing
# -- 2. Consistency(일치성) - 
# -- 3. Isolation(독립성)
# -- 4. Durability(영구성)

# -- Transaction을 이용하려면 어떻게 해야하나요?

# -- AutoCommit mode => False(OFF) 여기가 transaction의 시작
# -- Commit or Rollback 을 실행하면 transaction이 끝나요