In [ ]:
# DBMS를 사용해야 하기 때문에
# MySQL 먼저 기동

In [ ]:
# SQL도 프로그래밍 언어  (Database에 대한 프로그래밍 언어)
# 대소문자 구분하지 않음 (키워드에 대해서)
# - 관용적으로 키워드는 대문자 사
#문자열은 VARCHAR 가변문자(datatype)(MySQL)  Varchar(Oracle)
# INT
# 공백을 허용하지않기위해 NOT NULL(컬럼에대하여)
# unique 컬럼에 대해서 같은 값을 허용하지 않
# PRIMARY KEY = NOT NULL + UNIQUE (테이블당 하나의 컬럼만 허용)
# 프라이머리 키로 설정된 컬럼안의 하나의 값은
# 해당 테이블 내에서 레코드를 유일하게 식별할 수 있
# FOREIGN KEY : 다른 테이블에 있는 프라이머리 키를 활용할 때 포린 키 지
# 포린 키 컨스트렌트: 프라이머리키 에 없는 값이 입력될 수 없


#CREATE TABLE student (# 테이블 생성구문
    #num 
    #name  VARCHAR(20)#(최대 길이)
#);
    
    
#DROP TABLE student # 테이블 삭제구문

#-- record 삭제

#DELETE FROM student 

# COMMIT 의 필요성
# Transaction(트랜젝션) 처리